html {
  --main-color: #313131;
  --font-color: #d2d2d2;
  --border-color:  rgba(255, 255, 255, .6);
  --buttons-height: 40px;
}


#form-container input {
  display: block;
  width: 420px;
  margin: auto;
  margin-top: 5%;
  border: 1px var(--border-color) solid;
  background-color: var(--main-color);
  border-radius: 1%;
  color: inherit;
  font-size: 200%;
  font-family: 'LC';
  padding: 2%;
  text-align: center;
}

#form-container input[type="button"] {
  width: 50%;
  background-color: var(--border-color);
  color: var(--main-color);
    font-weight: bold;
}

#form-container input[type="button"]:hover {
  background-color: var(--main-color);
  color: inherit;

}

#form-container form {
  border: 1px var(--border-color) solid;
  width: 70%;
  padding: 10px;
  margin: auto;
}

#form-container {
  display: table-cell;
  vertical-align: middle;
}
