html {
  --main-color: #313131;
  --font-color: #d2d2d2;
  --border-color:  rgba(255, 255, 255, .6);
  --buttons-height: 31px;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
  color: var(--font-color);
}

body::-webkit-scrollbar {
  width: 4px;               /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);        /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--font-color);    /* цвет плашки */
  border-radius: 2px;       /* закругления плашки */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
}

.block {
    display: inline-table;
    position: absolute;
    width: 50vw;
    height: 100vh;
}

#right-block {
  margin-left: 50vw;
}

#left-block {
  margin-left: 10px;
}

#right-block {
  position: fixed;
}

#background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.85;
  z-index: 99999999;
  position: fixed;
  color: var(--font-color);
  font-size: 140%;
  font-family: 'LC';
  font-weight: bold;
}

.hideform {
  width: 40%;
  height: 50%;
  margin: 15% auto;
  background-color: none;
}

.hideform select {
  color: var(--font-color);
  font-size: 100%;
  font-family: 'LC';
  background-color: rgba(0,0,0,0);
  border: 1px rgba(255, 255, 255, .6) solid;
  border-radius: 3%;
  display: inline-block;
  margin-left: 5%;
  height: var(--buttons-height);
  text-align: center;
  width: 25%;
  padding: 5px;
}

.hideform select option {
  background-color: var(--main-color);
  border: 1px rgba(255, 255, 255, .6) solid;
  display: inline-block;
}

.hideform input {
  display: block;
  min-width: 25%;
  width: fit-content;
  margin: 5% 20%;
  color: var(--font-color);
  font-size: 100%;
  font-family: 'LC';
  background-color: rgba(0,0,0,0);
  border: 1px rgba(255, 255, 255, .6) solid;
  cursor: pointer;
}

.hideform input:hover {
  color: black;
  background-color: var(--font-color);
}

.hideform input[disabled] {
  color: red;
  background-color: rgba(0,0,0,0);
  border-color: red;
  cursor: not-allowed;
}
